@charset "utf-8";

.container {
	padding: 30px;
}

.topbanner {
	margin: 30px;
}

.topbannerbutton {
	margin-left: 5px;
}

.topbanner-p {
    font-family: montserrat;
    font-size: medium;
	text-align: right;
}

.navbar {
    text-align: center;
    margin: auto;
}

.nav-link {
    color: black !important;
    font-family: montserrat;
}

.nav-current {
    font-weight: bold;	
}

.form-control {
	font-family: montserrat;
	margin-left: 10px;
}

.nav-link:hover {
    text-decoration: underline;	
}

.contact-nav {
	margin-right: 15px;
}

.searchbtn {
    color: black;
    border: 1px solid #000000;
	font-family: montserrat
}

.searchbtn:hover {
    background-color: #7F99B3;
    color: black;
	border: 1px solid #000000;
}

.navbar-expand-lg {
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.index-banner {
	background-color: #7F99B3;
	margin-right: auto;
	margin-left: auto;
}

.banner-img {
    float: right;
    width: 35%;
    margin: auto 0px;
}

.banner-title1 {
	margin-top: 120px;
	font-family: montserrat;
}

.banner-title2 {
    font-family: montserrat;
}

.text {
	font-family: montserrat;
}

.footer {
	background-color: #B37A76;
	font-family: montserrat;
	text-align: center;
	padding: 10px;
}

.footer-row {
	margin-left: 10px;
	margin-right: 10px;
}

.footerbutton1 {
	float: right;
}

.footerbutton2 {
	float: left;
}