@charset "utf-8";

.container {
	padding: 30px;
}

.text {
	font-family: montserrat;
}

.topbanner {
	padding: 15px;
}

.topbanner-color {
	background-color: lightgray;
	
}

.topbannerbutton {
	margin-left: 5px;
}

.topbanner-p {
    font-family: montserrat;
    font-size: medium;
	text-align: right;
}

.h1-top {
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 15px;
    font-size: 35px;
}

.navbar {
    text-align: center;
    margin: auto;
}

.nav-link {
    color: black !important;
    font-family: montserrat;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-current {
    font-weight: bold;	
}

.form-control {
	font-family: montserrat;
	margin-left: 10px;
}

.nav-link:hover {
    color: #8D8D8D !important;
}

.contact-nav {
	margin-right: 15px;
}

.searchbtn {
    color: black;
    border: 1px solid #000000;
	font-family: montserrat
}

.searchbtn:hover {
    background-color: #7F99B3;
    color: black;
	border: 1px solid #000000;
}


.navbar-expand-lg {
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.index-banner1 {
    background-size: 1100px auto;
    height: 450px;
    background-color: #7F99B3;
    background-image: url(../images/bannerbackground-01-01-01-01-01.png);
}

.banner-title1 {
	margin-top: 120px;
	font-family: montserrat;
	text-align: center;
}

.banner-title2 {
    font-family: montserrat;
	text-align: center;
}

.h1-aboutme {
	margin-left: 10px
}

.about-me-img1 {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.music {
	background-color: #CAD5E0;
}

.music1 {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 80%;
}
		
.h3-music {
	text-align: center;
    font-family: montserrat;
}

.p-music {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 30px;
	margin-right: 30px;
}


.carousel-1 {
	width: 100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.h3-carousel {
	text-align: center;
}

.h1-center {
	text-align: center;
    font-family: montserrat;
}

.pr-card {
    padding: 5px;
	
}

.progress-bar {
    background-color: #FFC6C2 !important;
}

.p-date {
    font-style: italic;	
}

.email-link {
    color: #7F99B3;
    font-weight: bold;	
}

.email-link:hover {
    color: #7F99B3;
    text-decoration: underline;	
}

.cd-img {
	margin: 10px;
}

.arrow {
	color: #7F99B3;
	font-weight: bold;
}

.carousel2 {
	width: 100%;
	float: right;
}

.btn {
	margin: 10px;
	padding-left: 70px;
	padding-right:70px;
	color: black;
}

.fb-post {
	width: 70%;
}

.insta-post {
	padding: 10px;
	margin: auto;
	background-color: #FFC6C2;
	width: 100%;
}

.instagram-media {
	width: 50% !important;
}

.supervision-screens {
	margin-bottom: 10px;
}

.h6color {
	color: #7F99B3; 
}

.credits {
	background-color: #7F99B3;
	padding: 5px;
}

.footer {
	background-color: #B37A76;
	font-family: montserrat;
	text-align: center;
	padding: 10px;
}

.footer-sm {
    font-weight: bold;	
	text-align: center;
}

.foot-link {
	color: black;
}

.foot-link:hover {
    color: black;
}

.footer-row {
	margin-left: 10px;
	margin-right: 10px;
}

.footerbutton1 {
	float: right;
}

.footerbutton2 {
	float: left;
}


@media only screen and (max-width: 900px) {
  	.index-banner1 {
    	height: 450px;
   	 	background-color: #7F99B3;
   		background-image: url(../images/bannerbackground-01-01-01-01-01.png);
   		background-size: 900px auto;
    	background-position: 51% 0% !important;
	}
	
	.music1 {
		width: 100%;
		margin: 0px !important;
	}
	
	.iyc-img {
		width: 100%;
	}
	
	.carousel2 {
		float: none !important;
		display: block !important;
 		margin-left: auto !important;
 		margin-right: auto !important;
	}
	
}


@media only screen and (max-width: 1100px) {
  	.container {
	padding: 5px;
}
	
	.index-banner1 {
    	height: 450px;
   	 	background-color: #7F99B3;
   		background-image: url(../images/bannerbackground-01-01-01-01-01.png);
   		background-size: 900px auto;
    	background-position: 70% 0%;
	}
	
	.fb-post {
		width: 100% !important;
	}
	
	.instagram-media {
		width: 10% !important;
	}
	
	.music1 {
		width: 90% !important;
	}
	
	.music {
		padding: 30px;
	}

}